/*------------------------------------*\
  #LAYOUT UTILITY CLASSES
\*------------------------------------*/

//Layout Utility Classes
//We do not use margin-top so the margin-top utility does not exist
.mb-0 { margin-bottom: $spacer-0; };
.mb-1 { margin-bottom: $spacer-1; };    // 4px
.mb-2 { margin-bottom: $spacer-2; };    // 8px
.mb-3 { margin-bottom: $spacer-3; };    // 16px
.mb-4 { margin-bottom: $spacer-4; };    // 24px
.mb-5 { margin-bottom: $spacer-5; };    // 32px
.mb-6 { margin-bottom: $spacer-6; };    // 40px
.mb-7 { margin-bottom: $spacer-7; };    // 48px
.mb-8 { margin-bottom: $spacer-8; };    // 56px
.mb-9 { margin-bottom: $spacer-9; };    // 64px

.mr-0 { margin-right: $spacer-0; };
.mr-1 { margin-right: $spacer-1; };     // 4px
.mr-2 { margin-right: $spacer-2; };     // 8px
.mr-3 { margin-right: $spacer-3; };     // 16px
.mr-4 { margin-right: $spacer-4; };     // 24px
.mr-5 { margin-right: $spacer-5; };     // 32px
.mr-6 { margin-right: $spacer-6; };     // 40px
.mr-7 { margin-right: $spacer-7; };     // 48px
.mr-8 { margin-right: $spacer-8; };     // 56px
.mr-9 { margin-right: $spacer-9; };     // 64px

.ml-0 { margin-left: $spacer-0; };
.ml-1 { margin-left: $spacer-1; };      // 4px
.ml-2 { margin-left: $spacer-2; };      // 8px
.ml-3 { margin-left: $spacer-3; };      // 16px
.ml-4 { margin-left: $spacer-4; };      // 24px
.ml-5 { margin-left: $spacer-5; };      // 32px
.ml-6 { margin-left: $spacer-6; };      // 40px
.ml-7 { margin-left: $spacer-7; };      // 48px
.ml-8 { margin-left: $spacer-8; };      // 56px
.ml-9 { margin-left: $spacer-9; };      // 64px

/*------------------------------------*\
  #Media Query Breakpoints
\*------------------------------------*/

// Small tablets and large smartphones (landscape view) 576px
$screen-sm: 576px;

// Small tablets (portrait view) 768px
$screen-md: 768px;

// Tablets and small desktops 992px
$screen-lg: 992px;

// Large tablets and desktops 1200px
$screen-xl: 1200px;

// Media Queries Mixin
// Use like: @include sm { styles here }

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl}) {
       @content;
   }
}
