///*----------------------------------*\
//  #COLOR SYSTEM
//\*----------------------------------*/

// Sets up the color palette
/**** No colors should be added without consulting the visual designer***/

$black: #000;
$white: #fff;

// -------- Grays --------
$gray-00:      #ebebeb;
$gray-10:      #dbdee0;
$gray-20:      #c4cdd4;
$gray-30:      #9dacb6;
$gray-40:      #80909b;
$gray-50:      #687782;
$gray-60:      #445968;
$gray-70:      #2f4656;
$gray-80:      #213848;
$gray-90:      #12202a;

// --------- Blue ---------
$blue-00:      #e9f6fc;
$blue-10:      #bde4f8;
$blue-20:      #92d2f4;
$blue-30:      #61bef0;
$blue-40:      #109de7;
$blue-50:      #128ddd;
$blue-60:      #0e75c4;
$blue-70:      #1063a2;
$blue-80:      #144870;
$blue-90:      #03243d;
$blue-100:     #4E738D;

// --------- Bright Green ---------
$bright-green-00: #e7f7ed;
$bright-green-10:  #b9e9ca;
$bright-green-20:  #8bdba8;
$bright-green-30:  #5ccd85;
$bright-green-40:  #2ebf62;
$bright-green-50:  #00b140;
$bright-green-60:  #009135;
$bright-green-70:  #007129;
$bright-green-80:  #00511e;
$bright-green-90:  #003112;

// -------- Green --------
$green-00:     #e7f2ee;
$green-10:     #b9d9cd;
$green-20:     #8bc1ac;
$green-30:     #5ca88b;
$green-40:     #2e8f6a;
$green-50:     #007749;
$green-60:     #015337;
$green-70:     #004128;
$green-80:     #002c1b;
$green-90:     #00160e;

// -------- Teal --------
$teal-00:      #e7f3f3;
$teal-10:      #b9dddc;
$teal-20:      #8bc6c5;
$teal-30:      #5cb0ae;
$teal-40:      #2e9997;
$teal-50:      #008380;
$teal-60:      #006c69;
$teal-70:      #005452;
$teal-80:      #003c3b;
$teal-90:      #002423;

// -------- Red --------
$red-00:       #fdeeea;
$red-10:       #f9ccc2;
$red-20:       #f5aa99;
$red-30:       #f28871;
$red-40:       #ee6648;
$red-50:       #eb4420;
$red-60:       #c1381b;
$red-70:       #962c15;
$red-80:       #6b1f0f;
$red-90:       #411309;

// -------- Orange --------
$orange-00:    #fdf2ea;
$orange-10:    #fbd9c0;
$orange-20:    #f8c196;
$orange-30:    #f6a86c;
$orange-40:    #f38f42;
$orange-50:    #f17718;
$orange-60:    #c66214;
$orange-70:    #9a4c10;
$orange-80:    #6e370b;
$orange-90:    #422107;

//-------- Yellow --------
$yellow-00:    #fef7e9;
$yellow-10:    #fde7be;
$yellow-20:    #fcd793;
$yellow-30:    #fbc768;
$yellow-40:    #fab73d;
$yellow-50:    #faa713;
$yellow-60:    #cd8910;
$yellow-70:    #a06b0d;
$yellow-80:    #724c09;
$yellow-90:    #452e06;
