$my-theme: (
        interactive-01: red,
        interactive-02: red,
        interactive-03: red,
        interactive-04: red,
        ui-background: red,
        ui-01: red,
        ui-02: red,
        ui-03: red,
        ui-04: red,
        ui-05: red,
        text-01: red,
        text-02: red,
        text-03: red,
        text-04: red,
        icon-01: red,
        icon-02: red,
        icon-03: red,
        link-01: red,
        link-02: red,
        field-01: red,
        field-02: red,
        inverse-01: red,
        inverse-02: red,
        support-01: red,
        support-02: red,
        support-03: red,
        support-04: red,
        inverse-support-01: red,
        inverse-support-02: red,
        inverse-support-03: red,
        inverse-support-04: red,
        overlay-01: rgba(23, 23, 23, 0.5),
        focus: red,
        hover-primary: red,
        active-primary: red,
        hover-primary-text: red,
        hover-secondary: red,
        active-secondary: red,
        hover-tertiary: red,
        active-tertiary: red,
        hover-ui: red,
        active-ui: red,
        selected-ui: red,
        hover-selected-ui: red,
        hover-danger: red,
        active-danger: red,
        hover-row: red,
        visited-link: red,
        disabled-01: red,
        disabled-02: red,
        disabled-03: red,
        highlight: red,
        skeleton-01: red,
        skeleton-02: red,
        brand-01: red,
        brand-02: red,
        brand-03: red,
        active-01: red,
        hover-field: red,
) !default;